@model BooklyProject.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Şifre Değişikliği</h2>
<form method="post">

    <label>Mecvut Şifremiz</label>
    <input type="password" name="CurrentPassword" class="form-control"  required/>
    <br />
    <label>Yeni Şifre</label>
    <input type="password" name="NewPassword" class="form-control" / required>
    <br />
    <label>Yeni Şifre Tekrar</label>
    <input type="password" name="ConfirmPassword" class="form-control" / required>
    <br />

    <p class="text-bg-danger">
        @Html.ValidationSummary()
    </p>
    <button class="btn btn-dark" >Şifreyi değiştir</button>




</form>


