@model List<BooklyProject.Entities.PhotoGallery>

<section id="instagram">
    <div class="container">
        <div class="text-center mb-4">
            <h3>Fotoğraf Galerisi</h3>
        </div>

        @if(Model != null && Model.Any())
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-2">
                        <figure class="instagram-item position-relative rounded-3">
                            <a href="@item.ImageUrl" class="image-link position-relative">
                                <div class="icon-overlay position-absolute d-flex justify-content-center">
                                    <svg class="instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </div>
                                <img src="@item.ImageUrl" alt="instagram" class="img-fluid insta-image">
                            </a>
                        </figure>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-center">Henüz fotoğraf eklenmedi</p>
        }
    </div>
</section>

<style>
    .insta-image {
        width: 232.667px;
        height: 365.433px;
        object-fit: cover;
        border-radius: 10px;
    }

    .instagram-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
    }
</style>
