@model BooklyProject.Entities.Message
@{
    ViewBag.Title = "UpdateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Mesaj Güncelleme</h2>


<form method="post">
    <input type="hidden" name="MessageId" value="@Model.MessageId" />
    <label>İsim</label>
    <input type="text" name="Name" value="@Model.Name" class="form-control" required />
    <br />
    <label>Mail</label>
    <input type="text" name="Email" value="@Model.Email" class="form-control" required />
    <br />
    <label>Mesaj İçeriği</label>
    <input type="text" name="MessageContent" value="@Model.MessageContent" class="form-control" required />
    <br />
    <button class="btn btn-outline-dark"><i class="fa fa-pen"></i> Güncelle</button>
</form>
